<div class="modal fade">
 	<div class="modal-dialog">
 		<div class="modal-content">
 			
 			<div class="modal-header">
 				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 				<h3 class="modal-title" style="text-align:center">
 					<span class="glyphicon glyphicon-comment" style="padding-right:10px"></span>Send Message
 					<br/>
 					<span data-ng-show="connected">
 						<small>
 							Connected
 						</small>
 					</span>
 					<span data-ng-show="!connected">
 							<i class="fa fa-refresh fa-spin"></i>
 					</span>
 				</h3>
 			</div>
 			
 			<div class="modal-body">
 							
				<div data-ng-if="result.success===true" class="alert alert-success alert-dismissible" role="alert" style="text-align:center">
		  			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  				<span aria-hidden="true">&times;</span>
		  			</button>
		  			<strong>{{result.message}}</strong>
				</div>
				
				<div data-ng-if="result.success===false" class="alert alert-danger alert-dismissible" role="alert" style="text-align:center">
		  			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  				<span aria-hidden="true">&times;</span>
		  			</button>
		  			<strong>{{result.message}}</strong>
				</div>
			
				<div style="width: 100%; overflow: hidden;">
				    <div style="width: 70%; float: left; padding-right:10px"> 
				    	<div class="form-group">
				    	<label><span class="glyphicon glyphicon-user ng-scope" style="padding-right:10px"></span>Recipient</label>
						<input type="text" 
							class="form-control"
							data-ng-disabled="!textSearchBoxEnabled" 
							data-ng-model="messageUser"
							data-ng-change="findUsers();isEnabled()" 
							placeholder="To" 
							aria-describedby="basic-addon2">
						</div>
						
 						 <div>						
							<nav>
								<ul class="list-group users">
								  	<li class="list-group-item"
								  		style="cursor:pointer" 
								  		data-ng-repeat="value in users" 
								  		data-ng-click="setUser(value.user)">
								  			<span class="glyphicon glyphicon-user ng-scope" style="padding-right:10px"></span>
			  								{{value.user}}
								  	</li>
								</ul>
							</nav>
						</div>
					
						<div style="padding-bottom:20px">
							<label for="comment"><span class="glyphicon glyphicon-comment" style="padding-right:10px"></span>Message</label>
			      			<input type="text" 
								class="form-control"
								data-ng-model="message"
								data-ng-change="isEnabled()" 
								placeholder="Message" 
								aria-describedby="basic-addon2">
						</div>
						
						<div>
			      			<textarea class="form-control" 
			      				rows="5"
			      				disabled 
			      				style="max-width: 100%; min-width: 100%"
			      				data-ng-model="serverMessage">
			      			</textarea>
						</div>
						
				    </div>
				   
				    <div style="width:30%; float:right"> 
				    	
				    	<label style="padding-left:5px">Online</label>
				    	<nav data-ng-if="onlineUsers.length">
							<ul class="list-group recipients">
							  	<li class="list-group-item"
							  		style="cursor:pointer" 
							  		data-ng-repeat="user in onlineUsers" 
							  		data-ng-click="setUser(user)">
							  			<i class="fa fa-circle" style="color:green; padding-right:10px;"></i>{{user}}
							  	</li>
							</ul>
						</nav>
						
						<nav data-ng-if="!onlineUsers.length">
							<ul class="list-group recipients">
							  	<li class="list-group-item disabled"
						  			style="text-align:center" 
						  			data-uib-tooltip="No One To Chat With">
					  					<i class="fa fa-frown-o" style="color:red"></i>
							  	</li>
							</ul>
						</nav>
				    </div>
				</div>

			</div>
			
			<div class="modal-footer">
				<button type="button"
					class="btn" 
					data-ng-click="sendMessage(message)"
					data-ng-class="enabled ? 'btn btn-success' : 'btn btn-secondary'" 
					data-ng-disabled="!enabled && !connected">Send
				</button>
			</div>
		</div>
 	</div>
</div>