<div class="modal fade">
 	<div class="modal-dialog">
 		<div class="modal-content">
 			
 			<div class="modal-header">
 				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 				<h3 class="modal-title" style="text-align:center">
 					<span class="glyphicon glyphicon-exclamation-sign" style="padding-right:10px"></span>Notifications
 				</h3>
 			</div>
 			
 			<div class="modal-body">
 										
				<div class="recipients" id="messageArea">
				
					<table data-ng-show="userKey" class="table table-striped table-hover" style="border: 2px solid #ccc">
				    	<thead>
					        <tr>
					        	<th>From</th>
					        	<th>Date</th>
					        	<th>Message</th>
					        </tr>
				    	</thead>
				    	<tbody>
							<tr data-ng-repeat="notification in notifications"
								data-ng-class="{info: notification.id === selectedId}" 
								data-ng-click="setSelected(notification.id)">
								<td>{{notification.from}}</td>
								<td>{{notification.timeStamp}}</td>
								<td>{{notification.message}}</td>
							</tr>
						</tbody>
					</table>
				
				</div>
				
			</div>
			
			<div class="modal-footer">
				<button type="submit"
						class="btn btn-primary" 
						data-ng-click="markAcknowledged()">
						<span class="glyphicon glyphicon-eye-open" style="padding-right:10px"></span>Seen
				</button>
			</div>

		</div>
 	</div>
</div>