<div class="modal fade">
 	<div class="modal-dialog">
 		<div class="modal-content">
 			
 			<div class="modal-header">
 				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 				<h3 class="modal-title" style="text-align:center">
 					<span class="glyphicon glyphicon-exclamation-sign" style="padding-right:10px"></span>Notifications
 				</h3>
 			</div>
 			
 			<div class="modal-body">
 										
				<div class="recipients" id="messageArea">
					{{notifications}}
				</div>
				
			</div>
			
			<div class="modal-footer"></div>
					
		</div>
 	</div>
</div>