<div data-ng-controller="primaryController" data-ng-init="getAll()">

	<div class="jumbotron">
		
		<div>
			<div class="alert alert-success">
  				<strong>{{result}}</strong>
			</div>
		</div>
		
		<div class="input-group" style="padding-bottom: 20px">	
			<input 
				type="text" 
				class="form-control" 
				placeholder="Search"
				data-ng-model="inputData">
			 
			<span class="input-group-addon btn btn-default" data-ng-click="search(inputData)">Search</span>
			<span class="input-group-addon btn btn-success" data-ng-click="submit(inputData)">Add</span>
			<span class="input-group-addon btn btn-primary" role="button" data-ng-click="getAll()">Show</span>
		</div>
		
		<table class="table table-striped table-hover" style="border: 2px solid #ccc">
	    	<thead>
		        <tr>
		            <th>Time</th>
		            <th>Message</th>
		        </tr>
	    	</thead>
	    	<tbody>
				<tr data-ng-repeat="message in messages">
					<td>{{message.time}}</td>
					<td>{{message.message}}</td>
				</tr>
			</tbody>
		</table>
		
	</div>

</div>