<div data-ng-controller="primaryController" data-ng-init="refresh()">

	<modal visible="showModal"></modal>
	
	<div class="jumbotron">
		
		 <nav class="navbar navbar-inverse">
		 	<div class="container-fluid">
		    	<div class="navbar-header">
		      		<a class="navbar-brand">JunkStash</a>
		    	</div>
		    	<ul class="nav navbar-nav navbar-right">
		      		<li>
		      			<a data-ng-show="!user" data-ng-click="toggleModal()">
		      				<span class="glyphicon glyphicon-log-in"></span> Login
		      			</a>
	      			</li>
	      			<li data-ng-show="user" class="dropdown">
				        <a class="dropdown-toggle" data-toggle="dropdown">
				        <span data-ng-if="admin" 
				        	class="glyphicon glyphicon-user"
				        	title="Admin User" 
				        	style="padding-right:10px; 
				        	color:green">
				        </span>
				        <span data-ng-if="!admin" 
				        	class="glyphicon glyphicon-user"
				        	title="General User" 
				        	style="padding-right:10px">
				        </span> 
				        {{user}}
				        <span class="caret"></span></a>
				        <ul class="dropdown-menu">
				        	<li data-ng-click="logout()">
				          		<a ><span class="glyphicon glyphicon-log-out"></span> Logout</a>
				        	</li>
				        </ul>
				   </li>
		   	 	</ul>
		  	</div>
		</nav>
		
		<div data-ng-if="result.success===true" class="alert alert-success alert-dismissible" role="alert" style="text-align:center">
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  				<span aria-hidden="true">&times;</span>
  			</button>
  			<strong>{{result.message}}</strong>
		</div>
		
		<div data-ng-if="result.success===false" class="alert alert-danger alert-dismissible" role="alert" style="text-align:center">
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  				<span aria-hidden="true">&times;</span>
  			</button>
  			<strong>{{result.message}}</strong>
		</div>
		
		<div data-ng-show="!userKey" style="background-color:DarkGray !important" class="jumbotron">
			<div class="text-center" data-ng-show="!userKey">
				<img style="opacity: 0.4" title="JunkStash" src="/images/JunkStash.png"/>
			</div>
		</div>
		
		<div data-ng-show="userKey" class="input-group" style="padding-bottom: 20px">	
			<input 
				type="text" 
				class="form-control" 
				placeholder="Search Files"
				data-ng-model="fileSearch">
			 
			<span class="input-group-addon btn btn-danger" data-ng-click="clear()">
				<i class="fa fa-times"></i>
			</span>
		</div>
		
		 <div data-ng-show="userKey" class="row">
		  <div class="col-sm-2"><i class="fa fa-database" style="padding-right:10px"></i>Used {{totalSpaceNormalized}}</div>
		  <div class="col-sm-8"></div>
		  <div class="col-sm-2" style="text-align:right">Total {{maxSpaceNormalized}}</div>
		</div>
		
		 <div data-ng-show="userKey" class="progress">
  			<div 	data-ng-class="{'progress-bar progress-bar-striped active progress-bar-danger' : percentUsed>90, 'progress-bar progress-bar-striped active' : percentUsed<90, 'progress-bar progress-bar-striped active progress-bar-warning' : percentUsed>60 && percentUsed<90}" 
					role="progressbar"
					aria-valuenow="0" 
					aria-valuemin="0" 
					aria-valuemax="{{maxSpace}}" 
					style='width:{{percentUsed}}%'>
					{{percentUsed | number:0}}%
  			</div>
		</div>
		
		<div data-ng-show="admin" class="row">
		  <div class="col-sm-2"><i class="fa fa-floppy-o" style="padding-right:10px; padding-bottom:10px"></i>Files ({{files.length}})</div>
		  <div class="col-sm-10"></div>
		</div>
		
		<table data-ng-show="userKey" class="table table-striped table-hover" style="border: 2px solid #ccc">
	    	<thead>
		        <tr>
		    		<th>Download</th>
		        	<th>Name</th>
		        	<th>Type</th>
		            <th>Uploaded</th>
		            <th>Size</th>
		            <th data-ng-if="admin">Owner</th>
		            <th>Remove</th>
		        </tr>
	    	</thead>
	    	<tbody>
				<tr data-ng-repeat="file in files | filter:fileSearch">
					<td style="padding-left:20px">
						<a href="download/{{file.id}}/{{userKey}}" download="{{file.name}}">
							<i class="fa fa-arrow-circle-down" style="cursor:pointer"></i>
						</a>
					</td>
					<td>{{file.name}}</td>
					<td>{{file.type}}</td>
					<td>{{file.time}}</td>
					<td>{{file.size}}</td>
					<td data-ng-if="admin">{{file.owner}}</td>
					<td data-ng-click="removeFile(file)" style="text-align:center">
						<i class="fa fa-trash-o" style="cursor: pointer; color:balck"></i>
					</td>
				</tr>
			</tbody>
		</table>
				
		<div data-ng-show="userKey" style="margin-bottom:20px; text-align:center;">
			<div data-ng-show="!loading">
   				<span class="btn btn-default btn-file">
    				Browse <input type="file" data-file-model="uploadFile">
				</span>
				<button data-ng-show="uploadFile" class="btn btn-success" data-ng-click="upload()">Upload</button>
				<button data-ng-show="!uploadFile" class="btn btn-default" disabled>Upload</button>
    		</div>
    		<div data-ng-show="loading" style="text-align:center">
    			<div style="padding-right:10px">
    				<i class="fa fa-cog fa-spin fa-4x"></i>
   				</div>
   			</div>
		</div>
		
		<div data-ng-show="admin" class="input-group" style="padding-bottom: 20px">	
			<input 
				type="text" 
				class="form-control" 
				placeholder="Search Users"
				data-ng-model="userSearch">
			 
			<span class="input-group-addon btn btn-danger" data-ng-click="clear()">
				<i class="fa fa-times"></i>
			</span>
		</div>
		
		<div data-ng-show="admin" class="row">
		  <div class="col-sm-2"><i class="fa fa-users" style="padding-right:10px; padding-bottom:10px"></i>Users ({{users.length}})</div>
		  <div class="col-sm-10"></div>
		</div>
		
		<table data-ng-show="admin" class="table table-striped table-hover" style="border: 2px solid #ccc">
	    	<thead>
		        <tr>
		    		<th>User</th>
		        	<th>Status</th>
		        	<th>Added</th>
		        	<th>Space Used</th>
		        	<th>Action</th>
		        </tr>
	    	</thead>
	    	<tbody>
				<tr data-ng-repeat="user in users  | filter:userSearch">
					<td>{{user.user}}</td>
					<td>{{user.status}}</td>
					<td>{{user.added}}</td>
					<td>{{user.space}}</td>
					<td>
						<i data-ng-click="approve(user.user)" 
							class="fa fa-thumbs-o-up"
							title="Approve User" 
							style="cursor: pointer; padding-right:10px;"></i>
						
						<i data-ng-click="removeUser(user.user)" 
							class="fa fa-user-times" 
							title="Remove User"
							style="cursor: pointer; padding-right:10px;"></i>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div style="text-align:right">
			<h6>JunkStash© 2016</h6>
			<h6>Version 1.0</h6>
		</div>
		
	</div>

</div>