<div class="modal fade">
 	<div class="modal-dialog">
 		<div class="modal-content">
 			
 			<div class="modal-header">
 				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 				<h3 class="modal-title" style="text-align:center">
 					<i class="fa fa-share-alt" style="padding-right:10px"></i>Share File
 				</h3>
 			</div>
 			
 			<div class="modal-body">
 							
				<div data-ng-if="result.success===true" class="alert alert-success alert-dismissible" role="alert" style="text-align:center">
		  			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  				<span aria-hidden="true">&times;</span>
		  			</button>
		  			<strong>{{result.message}}</strong>
				</div>
				
				<div data-ng-if="result.success===false" class="alert alert-danger alert-dismissible" role="alert" style="text-align:center">
		  			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  				<span aria-hidden="true">&times;</span>
		  			</button>
		  			<strong>{{result.message}}</strong>
				</div>

		  		<div class="input-group">
  					<input type="text" class="form-control" data-ng-model="shareUser" placeholder="User's ID" aria-describedby="basic-addon2">
  					<span class="input-group-addon" id="basic-addon2">
  						<i data-ng-show="searching"
  							data-toggle="Search For User" 
  							data-ng-click="searchUser()" 
  							class="fa fa-circle-o-notch fa-spin"
  							style="color:blue; cursor:pointer">
  						</i>
  						<i data-ng-show="found" 
  							data-ng-click="searchUser()" 
  							class="fa fa-circle-o-notch fa-spin"
  							style="color:green">
  						</i>
  						<i data-ng-show="Notfound" 
  							data-ng-click="searchUser()" 
  							class="fa fa-circle-o-notch" 
  							style="color:red; cursor:pointer">
  						</i>
  						<i data-ng-show="!searched" 
  							data-ng-click="searchUser()" 
  							class="fa fa-search-plus"
  							style="cursor:pointer">
  						</i>
  					</span>
				</div>
		  		
		  	</div>
		  	
		  	<div class="modal-footer">
				
				<button type="submit" class="btn btn-primary" data-ng-click="shareFile()">send</button>
		    	<button class="btn btn-danger" data-dismiss="modal">close</button>
		    	
		  	</div>
 			
 		</div>
 	</div>
</div>'